<footer class="mat-elevation-z2">
    <div class="footer-content">
      <div class="footer-logo">
        <a href="https://www.keyfactor.com" target="_blank">
            <img src="./../../../assets/img/logo-dark.svg" alt="Keyfactor logo"/>
        </a>
      </div>
      <div class="footer-links">
        <ul>
          <li><a href="https://www.keyfactor.com/about-us/">About Keyfactor</a></li>
          <li><a href="https://www.keyfactor.com/partners/">Partners</a></li>
          <li><a href="https://www.keyfactor.com/contact-us/">Contact us</a></li>
        </ul>
      </div>
      <div class="footer-policy">
        <a href="https://www.keyfactor.com/privacy-policy/">Privacy Policy</a>
      </div>
      <div class="footer-social-icons">
        <a href="#" target="_blank"><mat-icon>email</mat-icon></a>
        <a href="#" target="_blank"><mat-icon>facebook</mat-icon></a>
        <a href="#" target="_blank"><mat-icon>phone</mat-icon></a>
      </div>
    </div>
</footer>
